/* CSS para el Login del sistema del ITSAE. */


/* Aplicar un margen para dejar el container respirar. */

body {
    background: url(../img/garita.jpg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 5em;
    border-radius: 1em;
    padding: 2em;
}

.form-horizontal {
    background: #FCFCFC;
    padding: 2em;
    border-radius: 1em;
}