/* CSS para el Login del sistema del ITSAE. */


/* Aplicar un margen para dejar el container respirar. */

body {
    background: url(../img/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
}

.container {
    margin-top: 5em;
    background: #FCFCFC;
    border-radius: 1em;
    padding: 2em;
    margin-bottom: 5em;
}

.list-group-item.active,
.list-group-item.active:focus,
.list-group-item.active:hover {
    background-color: #F8F8F8;
    border-color: #ddd;
}

.btn-infocurso {
    margin-right: 0.5em;
}

.fa-circle-thin {
    color: #FCFCFC;
}

.calendar-text {
    color: #FCFCFC;
}

.fa-xl {
    font-size: 20em !important;
}

.foto-perfil {
    border: 0.5em solid #000;
}

.input-grande {
    width: 1.5em;
    height: 1.5em;
}

.alert-checkbox {
    margin-left: 1em;
    margin-bottom: 0em;
    padding: 0.5em;
}